@*@{
    ViewBag.Title = "Contact";
}*@
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="jumbotron">
    <img src="~/Image/sunset-video-scr.jpg" style="width:100%;height:100%;" alt="">
</div>
@*<div class="well well-lg" img="">
    <address>
        3008, Marshall Avenue, Apt#2<br />
        Cincinnati, OH 45220<br />
        <abbr title="Phone">P:</abbr>
        513-888-5851
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:pavanbn1@gmail.com">pavanbn1@gmail.com</a><br />        
    </address>
    Thank You for Visiting !!
</div>*@


<section style="background-image: url('@Url.Content("../Image/Contact/contact2.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:#ffffff; font-size:32px; font-family: 'Lucida Sans Unicode';">CONTACT ME</h2>
                <p class="section-subheading text-muted" style="color:#fed136; font-size:20px; font-family: 'Lucida Sans Unicode';"><b>Address: </b> 3008 Marshall Avenue, Apt# 2,Cincinnati, Ohio, USA 45220</p>
                <p class="section-subheading text-muted" style="color:#fed136; font-size:20px; font-family: 'Lucida Sans Unicode';"><b>Home Phone: </b>(513) 888 - 5851</p>
                <p class="section-subheading text-muted" style="color:#fed136; font-size:20px; font-family: 'Lucida Sans Unicode';"><b>Email: </b>budihapn@mail.uc.edu </p>
                <p class="section-subheading text-muted" style="color:#fed136; font-size:20px; font-family: 'Lucida Sans Unicode';"><b>Alternate Email: </b>pavanbn1@gmail</p>
            </div>
        </div>
    </div>
</section>
